# Fichiers générés par Unity
/Library/
/obj/
*.csproj
*.sln
/Temp/
/.vs/
/Log/
/Logs/
/Build/
*.0.2.zip
*.zip
/UserSettings/

# Fichiers projet C# (régénérés par Unity à l'ouverture)
*.csproj
*.sln
*.slnx

# Éditeurs
/.vscode/
/.vs/
*.userprefs

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
